##############################################################################
# BEGIN Global/macOS.gitingore
#
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two 
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
#
# END Global/macOS.gitingore
##############################################################################
##############################################################################
# BEGIN QB.gitingore
#
# generated qb playbooks
.qb-playbook.yml

# ansible retry files
.qb-playbook.retry
#
# END QB.gitingore
##############################################################################
/tmp
